/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap'); */

body {
    margin: 0;
    color: #2E2E2E;
    line-height: 1.6;
    overflow-x: hidden;
    min-width: 320px;
    background-color: #0a0a2a; /* azul escuro */
    margin: 0;
    padding: 0;
    font-family: 'Figtree', sans-serif;
}

/* Container central com largura fixa */
.container {
    max-width: 1200px; /* largura fixa ideal para desktop */
    width: 100%;
    margin: 0 auto;
    background-color: white;
    /* min-height: 100vh; Comentado porque na pagina do servico adiciona espaco em ecra grande à parte de baixo da imagem e do nr. de telemovel*/ 
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding-left: 0px;
    padding-right: 0px;
}

.row{
    margin-left: 0px !important;
    width: 100%;
}

.banner {
    background-image: url('./assets/images/hero-image.jpg'); /* Caminho da imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px; /* Ajusta conforme o necess�rio */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.title-button{
 background-color: #3e5b75; 
  color: white;              
  padding: 10px 20px;        
  text-align: center;        
  font-family: Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  width: fit-content;        /* Shrinks to fit the text */
  border-radius: 2px; 
  margin: 0 auto;
}